<div class="listagem-usuario-content">
  <div class="row">
    <div class="col">
      <span class="text-bold">ID</span></div>
    <div class="col">
      <span class="text-bold">Nome</span></div>
    <div class="col">
      <span class="text-bold">Data de nascimento</span></div>
    <div class="col">
      <span class="text-bold">Classificação</span></div>
  </div>
  <div *ngFor="let usuario of listaUsuarios">
    <app-usuario
    [idUsuario]="usuario.idUsuario"
    [nomeUsuario]="usuario.nomeUsuario"
    [dataNascimento]="usuario.dataNascimento"
    [classificacao]="usuario.classificacao"
    ></app-usuario>
  </div>
</div>